/vendor/*
!/vendor/composer
/bootstrap
/node_modules
/public/hot
/public/storage
/storage
/storage/*.key
/tests
.env*
.phpunit.result.cache
.editorconfig
.style*
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.*
artisan
package.json
phpunit.*
server.*
webpack.mix.js
