/storage
/vendor
/tests
/node_modules
/storage/*.key
/.idea
/.vagrant
/public/hot
/public/storage
/public/img/raw
/public/img/backgrounds
/public/img/plancha
/public/img/banners
/public/img/spanish/banners
/public/img/flags
/public/error_log
/docs/raw
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.env.example
.DS_Store
*.swp
sitemap-*.txt
*.lock
*.xsd
/docs/install
*.zip
*.psd
/public/appeventlog.txt
/public/files
#/resources/views/gen
#/app/gen
#/app/Http/Controllers/gen
