/***********************************************************

Colors:

Header Orange: #FF6900
Header Blue: #4993FD
Section and Button Green: #5CB85C
Glyph Icon Blue: #286090
Super Light Green: #eff7f0

************************************************************/

.app-color-primary {
	background-color: #fe5b4c; /* mars-sky */
	color: white;
}

.grassy-green {
	background-color: #449D44;
	color: white;
}

.bright-blue {
	background-color: #4993FD;
	color: white;
}

.bright-blue-fg {
	color: #4993FD;
}

.power-purple {
	background-color: #800080;
	color: white;
}

.mars-sky {
	background-color: #fe5b4c;
	color: white;
}

.oolong-orange {
	background-color: #FF6900;
	color: white;"
}

.backin-black {
	background-color: black;
	color: white;
}

.green {
	color:green;
}

.red {
	color:red;
}

.teal {
	color:teal;
}

.white {
	background-color: white;
	color: #fe5b4c;
}

.gold {
	color:gold;
}

.steelblue {
	color:#4682b4;
}

.mediumgray {
	color:#989898;
}

.danger {
	color:red;
}

.event-table table tr td {
	vertical-align: top;
}

.middle {
	display:inline-block;
	vertical-align:middle;
}
