/***********************************************************

Colors:

Header Orange: #FF6900
Header Blue: #4993FD
Section and Button Green: #5CB85C
Glyph Icon Blue: #286090
Super Light Green: #eff7f0

************************************************************/

body {
	/* need the padding for the static nav bar */
	padding-top: 63px;
}

h1, h2 {
	margin-bottom: 20px;
}

/* colors */

.app-color-primary {
	background-color: #fe5b4c; /* mars-sky */
	color: white;
}

.grassy-green {
	background-color: #449D44;
	color: white;
}

.bright-blue {
	background-color: #4993FD;
	color: white;
}

.bright-blue-fg {
	color: #4993FD;
}

.power-purple {
	background-color: #800080;
	color: white;
}

.mars-sky {
	background-color: #fe5b4c;
	color: white;
}

.oolong-orange {
	background-color: #FF6900;
	color: white;"
}

.backin-black {
	background-color: black;
	color: white;
}

.green {
	color:green;
}

.red {
	color:red;
}

.teal {
	color:teal;
}

.white {
	background-color: white;
	color: #fe5b4c;
}

.gold {
	color:gold;
}

.steelblue {
	color:#4682b4;
}

.mediumgray {
	color:#989898;
}

.gray {
	color:gray;
}

.danger {
	color:red;
}

table.table-events {
	width:100%;
}

.table-events tr td {
	vertical-align: top;
}

.table-events tr td:first-child {
	width: 24px;
}

.table-translations tbody tr td:first-child, .table-translations tbody tr td:last-child {
	width: 10px;
}

.middle {
	display:inline-block;
	vertical-align:middle;
}

.form-card-row {
	margin-top:15px;
}

.navbar-icon-shortcuts a {
	color: white;
	margin: auto 10px;	
}

.navbar-icon-shortcuts a:hover {
	text-decoration: none;
}

.navbar-icon-shortcuts a div {
	vertical-align: middle;
	display:inline-block;
}

.navbar-icon-shortcuts a div svg {
	margin-top: 5px;
}

.navbar-submenu {
	padding-top: 0;
	padding-bottom: 0;
}