/***********************************************************
General
************************************************************/

body {
	/* need the padding for the static nav bar */
	padding-top: 62px;
}

.project-page {
	min-height:30em;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575px) {

	h1 {
		font-size: 26px;
	}

	h2 {
		font-size: 18px;
	}

	h1, h2, h3 {
		margin-top:0px;
		margin-bottom: 15px;
	}

	.form-card-row {
		margin-top:0;
	}
}


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

	h1 {
		font-size: 28px;
	}

	h2 {
		font-size: 22px;
	}

	h1, h2, h3 {
		margin-top:0px;
		margin-bottom: 15px;
	}

	.form-card-row {
		margin-top:0;
	}
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

	h1 {
		font-size: 32px;
	}

	h2 {
		font-size: 28px;
	}

	h2 {
		font-size: 24px;
	}

	h1, h2, h3 {
		margin-top:0px;
		margin-bottom: 15px;
	}


	.form-card-row {
		margin-top:15px;
	}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}

.middle {
	display:inline-block;
	vertical-align:middle;
}

.checkbox-label
{
	font-size: 1.2em;
	padding: 5px 5px 5px 0px;
	margin: 0px 0px 10px 0px;
}

/* doesn't work for the checkbox, just the label */
.checkbox-xs {
	color:gray;
	font-size:11px;
	line-height: 12px;
	vertical-align: middle;
}

.hidden {
	display:none;
}

@media (max-width:767px) {
    .hidden-xs {
        display: none!important
    }
}

@media (min-width:768px) and (max-width:991px) {
    .hidden-sm {
        display: none!important
    }
}

@media (min-width:992px) and (max-width:1199px) {
    .hidden-md {
        display: none!important
    }
}

@media (min-width:1200px) {
    .hidden-lg {
        display: none!important
    }
}

.wordwrap
{
	/* wrap long text and urls */
	white-space: pre; /* CSS 2.0 */
	white-space: pre-wrap; /* CSS 2.1 */
	white-space: pre-line; /* CSS 3.0 */
	white-space: -pre-wrap; /* Opera 4-6 */
	white-space: -o-pre-wrap; /* Opera 7 */
	white-space: -moz-pre-wrap; /* Mozilla */
	word-wrap: break-word; /* IE 5+ */
}


/***************************************************
 Navbar
***************************************************/

.navbar-icon-shortcuts a {
    color: white; /* for the icons */
	margin: auto 10px;
}

.navbar-icon-shortcuts a:hover {
	text-decoration: none;
}

.navbar-icon-shortcuts a div {
	vertical-align: middle;
	display:inline-block;
}

.navbar-icon-shortcuts a div svg {
	margin-top: 5px;
}

.navbar-submenu {
	padding-top: 0;
	padding-bottom: 0;
}

.nav-link {
    color: rgb(255, 255, 255, 1.0) !important; /* overrides bootstrap */
    font-size: 20px;
    font-weight: 400;
}

/***************************************************
 Footer
***************************************************/

.footer-links {
	color: blue; /* this is for the bullets only */
	color: #fe5b4c;
}

.footer-links a {
	margin-right:6px;
	color: #fe5b4c;
}

.footer-links a:hover {
	text-decoration: none;
}

.footer-heading {
	font-weight: 300;
	line-height: 1;
	letter-spacing: -.05rem;
	margin-top: 1rem;
}


@media (min-width: 48em) { /* medium devices and up */
  .footer-heading {
		font-size: 50px;
  }
}

@media (min-width: 62em) { /* large devices and up */
  .footer-heading {
  }
}

/***************************************************
Colors
-------
Header Orange: #FF6900
Header Blue: #4993FD
Section and Button Green: #5CB85C
Glyph Icon Blue: #286090
Super Light Green: #eff7f0
***************************************************/

.app-color-primary {
	background-color: #fe5b4c; /* mars-sky */
	color: white;
}

.app-color-primary-reverse {
	color: #fe5b4c; /* mars-sky */
}

.grassy-green {
	background-color: #449D44;
	color: white;
}

.bright-blue {
	background-color: #4993FD;
	color: white;
}

.bright-blue-fg {
	color: #4993FD;
}

.power-purple {
	background-color: #800080;
	color: white;
}

.mars-sky {
	background-color: #fe5b4c;
	color: white;
}

.mars-sky-text {
	color: #fe5b4c;
}

.oolong-orange {
	background-color: #FF6900;
	color: white;"
}

.backin-black {
	background-color: black;
	color: white;
}

.green {
	color:green;
}

.red {
	color:red;
}

.teal {
	color:teal;
}

.white {
	background-color: white;
	color: #fe5b4c;
}

.gold {
	color:gold;
}

.steelblue {
	color:#4682b4;
}

.mediumgray {
	color:#989898;
}

.purple {
    color:purple;
}

.gray {
	color:gray;
}

.danger {
	color:red;
}

.bg-yellow {
    background-color: yellow;
}

.bg-purple {
    background-color: purple;
}

.bg-gray {
    background-color: LightGray;
}

.bg-none {
}

.bg-mars {
	background-color: #fe5b4c;
	color: white;
}

.bg-oolong {
	background-color: #FF6900;
	color: white;
}

/***************************************************
 Buttons
***************************************************/

.btn-group-xs>.btn,
.btn-xs {
    padding: .25rem .25rem;
    font-size: .6rem;
    line-height: 1;
    border-radius: .1rem
}

.btn-group-xxs>.btn,
.btn-xxs {
    padding: .25rem .25rem;
    font-size: .53rem;
    line-height: 1;
    border-radius: .1rem
}

/***************************************************
 Tables
***************************************************/

table.table-events {
	width:100%;
}

.table-events tr td {
	vertical-align: top;
}

.table-events tr td:first-child {
	width: 24px;
}

.table-translations tbody tr td:first-child, .table-translations tbody tr td:last-child {
	width: 10px;
}

td.icon {
	width:10px;
}

.date-sm {
    font-size: 12px;
    width: 150px;
}

/***********************************************************

 Dropdown character menu

************************************************************/

/***************************************************
 Language Menu
***************************************************/

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	top:-10px;
}

.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover {
	text-decoration: none;
}

.dropdown-trigger {
	color: #286090;
	font-weight: bold;
	font-size: 12px;
}

#dropdown-trigger-button {
    line-height: 12px;
    padding: 3px 5px;
    border-radius: 2px;
	border: 0;
	background: #0088cc;
	box-shadow: none;
}

.dropdown-content button, .flat-content button {
	padding: 0 3px;
	width:25px;
	border: 0;
	box-shadow: none;
	border-radius: 3px;
	margin:3px;
}

.dropdown-content button {
	color: white;
	background: #0088cc;
}

@media (max-width: 500px) {

    .dropdown-menu {
        max-height: 300px;
        overflow-y: auto;
    }

}

.flat-content button {
	color: #0088cc;
	background: #efefef;
}


/***************************************************
Fancy Text
***************************************************/

.xs-text {
	font-size: 10px;
}

.small-text, .small-thin-text {
	font-size:12px;
}
.small-thin-text {
	font-weight:200;
}

.medium-text, .medium-thin-text {
	font-size:15px;
	font-weight: normal;
}
.medium-thin-text {
	font-weight:200;
}

.large-text, .large-thin-text {
	font-size:22px;
}
.large-thin-text {
	font-weight:200;
}

.xl-thin-text {
	font-size:26px;
	font-weight:200;
}

.large-text {
	font-size:18px;
}

/***************************************************
Drop Box
***************************************************/

.drop-box {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}

.drop-box-ghost {
	box-shadow: 1px 1px 10px 1px #e0e0e0;
}

.drop-box-ghost-small {
	box-shadow: 1px 1px 5px 1px #e0e0e0;
}

/*********************************************************
Badges
**********************************************************/

.badge-purple, .badge-blue {
	display: inline-block;
	vertical-align: middle;
	margin-bottom: 3px;
}

.badge-purple {
	background-color: purple;
	color: white;
}

.badge-blue {
	background-color: #4993FD; /* bright-blue */
	color: white;
}

.badge-white {
	background-color: white;
	color: #4993FD;
}

.badge-medium {
	font-size:12px;
	margin-left: 10px;
}

.badge-small {
	font-size:10px;
	padding:2px 2px;
	font-weight:bold;
	margin-left: 5px;
}

/*********************************************************
Cards
**********************************************************/


.middle {
	display:inline-block;
	vertical-align:middle;
}

.tab-body {
	padding-bottom:60px;
}

td.icon {
	width:10px;
}

.submenu-view td.icon {
	width: 40px;
}

.quizStats {
	font-size:13px;
	color:#4682b4; /* steelblue */
}

.type-not-set-color {
	background-color: red;
	color: white;
	border: DarkRed;
}

h6 {
	font-size:1em;
	xfont-weight:300;
	margin-top:30px;
	margin-bottom:20px;
}

.fn, .fancy-number {
	font-weight:bold;
	background-color:#5CB85C;
	color:white;
	border-radius:5px;
	padding:0 10px;
	margin-right:5px;
}

.irregular {
	color:#5CB85C; /* minty green */
	font-size:.8em;
	font-style: italic;
}

.card-flashcard, .card-flashcard a {
	max-width:100%;
	width:500px;
	min-height:200px;
	color:white;
	text-decoration:none;
}

.card-blue {
	background-color: #4993FD;
}

.phrase-of-the-day {
	color: white;
	background-color:#fe5b4c;
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #d03b2d;
	border-radius: 5px;
	width:100%;
	max-width:600px;
	font-weight: 300;
	font-size: 28px;
}

.phrase-of-the-day p:last-child {
    margin-bottom: 0;
}

.phrase-of-the-day h4 {
    color: #5cb85c;
	color:#666;
    margin-bottom:30px;
}

.card-potd, .card-potd a, .card-wotd, .card-votd {
	min-height:200px;
	color:white;
	text-decoration:none;
}

.card-potd {
	background-color: #fe5b4c; /* mars sky */
}

.card-wotd {
	background-color: #5CB85C; /* minty green */
}

.card-votd {
	background-color: #4993FD; /* bright blue */
}

.card-header-potd {
    font-size: 28px;
    font-weight: 400;
}

.card-body-potd {
    font-size: 26px;
    font-weight: 300;
    padding-top: 10px;
    padding-bottom: 10px;
}

#textEdit::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #007bff;
  opacity: .6;
  font-style: italic;
  font-size: 14px;
}

#textEdit:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #007bff;
  opacity: .6;
  font-style: italic;
  font-size: 14px;
}

#textEdit::-ms-input-placeholder { /* Microsoft Edge */
  color: #007bff;
  opacity: .6;
  font-style: italic;
  font-size: 14px;
}
